@model string

<form method="post" asp-action="Create">
    <section class="form-section">
        <div class="form-container">
            <span class="form-title">
                Create a Role
            </span>

            <div class="form-field">
                <label class="form-label" for="name">Name:</label>

                <div class="form-control">
                    <input name="name" class="form-input" />
                </div>
            </div>

            <div class="form-field is-grouped">
                <div class="form-control">
                    <input type="submit" class="button-custom form-button" value="Create" />
                    <button asp-action="Index" class="button-custom form-button">Cancel</button>
                </div>
            </div>
        </div>
    </section>
</form>
