@model Bugtracker.Models.Status

<form method="post" asp-action="Create">
    <section class="form-section">
        <div class="form-container">
            <span class="form-title">
                Add Status
            </span>

            <div class="form-field">
                <label class="form-label" asp-for="currentStatus"></label>

                <div class="form-control">
                    <input class="form-input" asp-for="currentStatus" />
                </div>
            </div>

            <div class="form-field is-grouped">
                <div class="form-control">
                    <input type="submit" class="button-custom form-button" value="Create" />
                    <button asp-action="Index" class="button-custom form-button">Cancel</button>
                </div>
            </div>
        </div>
    </section>
</form>


