@model Bugtracker.Models.Status
<form method="post">
    <input asp-for="Id" hidden />
    <section class="form-section">
        <div class="form-container">
            <span class="form-title">Edit Status</span>
            <div class="form-field">
                <label class="form-label" asp-for="currentStatus"></label>

                <div class="form-control">
                    <input class="form-input" asp-for="currentStatus" />
                </div>
            </div>
            <div class="form-field is-grouped">
                <div class="form-group">
                    <input type="submit" class="button-custom form-button" value="Update" />
                    <button asp-action="Index" class="button-custom form-button">Cancel</button>
                </div>
            </div>
        </div>
    </section>
</form>