<div class="forbid-container">
    <h1 class="forbid-h1">403</h1>
    <p class="forbid-p">access not granted</p>
    <a asp-action="Index" asp-controller="Home" class="button-custom confirm">Go Back</a>
</div>

